.pokemon-list {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-item {
  background-color: #f0f0f0;
  color: #222224;
  border: 2px solid #222224;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  flex: 1 1 30%;
}

.pokemon-button {
  background: rgb(23, 162, 184, 0.1);
  color: #222224;
}

.pokemon-button:hover {
  box-shadow: 0 5px 15px rgba(34, 34, 36, 0.5);
}

.white-title {
  color: #f0f0f0;
  text-transform: capitalize;
}

.modal-content {
  border: 2px solid #222224;
  border-radius: 5px;
  background: #f0f0f0;
  color: #222224;
}

.modal-header {
  width: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}
